*{
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
}

h1{
    display: inline-block;
    vertical-align: 50%;
}

header{
    width: 100%;
    height: 100px;
    padding: 20px 20px;
    margin-bottom: 20px;
    background-color: white;
}

.buttontask, .buttonsection{
    display: inline-block;
    padding: 5px;
    border: 1px;
    border-radius: 10px;
}

.buttontask{
    background-color: #47adf1;
    color: white;
}

.buttonsection{
    border: 1px solid lightgray;
    color: lightgray;
}

.title{
    font-size: larger;
}

ul{
    list-style-type: none;
}

.checkmark{
    border: 1px solid #a0d7cb;
    color: #a0d7cb;
    border-radius: 50%;
    padding: 2px;
}

.xmark{
    border: 1px solid red;
    color: red;
    border-radius: 30px;
    padding: 2px;
}

li{
    margin: 20px;
}

span{
    color: white;
    border-radius: 40px;
    padding: 5px;
    font-size: smaller;
}

.blu{
    background-color: #45abea;
}

.purple{
    background-color: #9c72e4;
}

.green{
    background-color: #64c0a9;
}

.orange{
    background-color: #f29e33;
}

.pinky{
    background-color: #d863a1;
}

.salad{
    background-color: #b0c926;
}

nav, main{
    padding-left: 5%;
    margin: auto;
    margin-bottom: 1px;
    background-color: white;
    max-width: 80%;
}

nav{
    padding: 10px 10px 10px 5%;
    border-radius: 10px 10px 0 0;
}

main{
    padding-bottom: 100px;
    border-radius:  0 0 10px 10px;
}